<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-main-map  viewBoxDims="1000 0 33000 30700"></app-main-map>
        </div>
        <div class="col-md-6">
            <app-main-map  viewBoxDims="1000 0 33000 30700"></app-main-map>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-main-map  viewBoxDims="1000 0 39000 50700"></app-main-map>
        </div>
        <div class="col-md-6">
            <app-main-map  viewBoxDims="1000 0 39000 50700"></app-main-map>
        </div>
    </div>
</div>